@font-face {
    font-family: Vazir;
    src: url('vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff') format('woff'),
         url('vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: Vazir;
    src: url('vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff') format('woff'),
         url('vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff') format('woff'),
         url('vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2') format('woff2');
    font-weight: 400;
}